<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Pokemon</title>
</head>

<body style="background-color:lightblue">
    <h1>New Pokemon Page</h1>
    <form action="/pokedex/" method="POST">
        Pokemon Name: <input type="text" name="name" /><br />
        Image: <input type="text" name = "img" /><br />
        HP: <input type="text" name = "hp" /><br />
        Attack: <input type="text" name = "attack"  /><br />
        Defense: <input type="text" name = "defense"  /><br />
        Spattack: <input type="text" name = "spattack"  /><br />
        Spdefense: <input type="text" name = "spdefense"/><br />
        Speed: <input type="text" name = "speed" /><br />
        Type: <input type="text" name="type" /><br />
        Type: <input type="text" name="type" /><br />
        <input type="submit" value="Create Pokemon" />
        
        
      </form>
</body>

</html>