<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Pokemon</title>
</head>

<body>
    <h1>New Pokemon Page</h1>
    <form action="/pokedex/" method="POST">
        Pokemon Name: <input type="text" name="name" /><br />
        Damages: <input type="text" name="damages" /><br />
        Stats: <input type="text" name="stats" /><br />
        <input type="submit" value="Create Pokemon" />
      </form>
</body>

</html>